# ignore file / directory
NetWavetizer-40_V1.srcs/sources_1/ip/gig_ethernet_pcs_pma/gig_ethernet_pcs_pma_ex/
NetWavetizer-40_V1.srcs/sources_1/hdl/sitcp_bbt/
NetWavetizer-40_V1.srcs/sources_1/hdl/misc/
